.inline-block
{
     display: inline-block;
}
.add-substract-button
{
     text-align: center;
     vertical-align: middle;
     cursor: pointer;
}
.customFields_div
{
     line-height: normal;
     vertical-align: middle;
}
.customFields_input
{
     width: 100px;
     line-height: 10px;
     vertical-align: middle;
}
.dashicons-plus-alt:hover
{
     color:green;
}
.dashicons-dismiss:hover
{
     color:red;
}
