/* ----- Section ----- */
.Section_div
{
     font-size: 14px;
}
/* ----- SubSection ----- */
.SubSection_main_div
{

}
.SubSection_title_div
{

}
.SubSection_title_h3
{

}
.SubSection_content_div
{

}
/* ----- Item ----- */
.Item_main_div
{

}
.Item_title_div
{

}

.Item_content_div
{

}
.Item_field
{

}
.Item_input_div
{
     
}
.Item_sub_div
{
     display: inline;
}
     .Item_sub_div > label
     {
          display:inline-block;
          padding-right: 10px;
          padding-left: 10px;
     }
     .Item_sub_div > input
     {
          display: inline;
          width: 20%;
     }
/* ----- SubItem ----- */
.SubItem_field
{

}
/* ----- add-remove-buttons ----- */
.add-substract-button
{

}
.addButton
{

}
.removeButton
{

}

/* ----- General ----- */
.recipe_title_input
{

}
.recipe_author_input
{

}
.recipe_image_input
{

}
.recipe_description_input
{

}
.recipe_servings_input
{

}
/* ----- General - Times ----- */
.recipe_times_main_div
{

}
.recipe_times_title_div
{

}
.recipe_times_content_div
{
     padding: 10px;
     border:1px solid #ddd;
     box-shadow:inset 0 1px 2px rgba(0,0,0,.07);
     color: #32373c;
     outline: 0;
}
.recipe_times_sub_div
{


}
     .recipe_times_sub_div > label
     {
          width: 100px;
          display:inline-block;
          padding-right: 10px;
          padding-left: 10px;
     }
     .recipe_times_sub_div > .SubItem_field::after
     {
          content: " min.";
     }
     .recipe_prep_time_input
     {
          width: 15%;
          display:inline-block;
     }
     .recipe_cook_time_input
     {
          width: 15%;
          display:inline-block;
     }
     .recipe_passive_time_input
     {
          width: 15%;
          display:inline-block;
     }
/* ----- Group  ----- */
/* ----- Ingredients  ----- */
.recipe_ingredients_main_div
{

}
.recipe_ingredients_title_div
{

}
.recipe_ingredients_content_div
{

}
.recipe_ingredient_item_main_div
{

}
.recipe_ingredient_item_title_div
{
     display: none;
}
.recipe_ingredient_item_content_div
{

}
.recipe_ingredient_item_sub_div
{

}
     .recipe_ingredient_quantity_input
     {
          width: 50px !important;
     }
     .recipe_ingredient_unit_input
     {
          width: 100px !important;
     }
     .recipe_ingredient_name_input
     {
          width: 250px !important;
     }
     .recipe_ingredient_notes_input
     {
          width: 250px !important;
     }
/* ----- Instruction  ----- */
.recipe_instructions_main_div
{

}
.recipe_instructions_title_div
{

}
.recipe_instructions_content_div
{

}
.recipe_instructions_step_main_div
{

}
.recipe_instructions_step_title_div
{

}
.recipe_instructions_step_content_div
{

}
.recipe_instructions_step_sub_div
{

}
.recipe_step_number_input
{

}
.recipe_step_instruction_input
{

}
.recipe_step_image_input
{

}
/* ----- Extras  ----- */
.recipe_notes_input
{

}
.recipe_video_input
{

}
/* ----- WP - Generic  ----- */
.components-base-control__label
{

}
.components-text-control__input
{

}
